<div *ngIf="customer" class="mainContainer">
    <div class="componentHeader">
        <h1>Customer <span id="id">{{customer.id}}</span></h1>
        <button (click)="goBack()">Back</button>
    </div>
    <div class="form">
        <div id="nameContainer">
            <div class="nameContainer">
                <label for="firstName">First name</label>
                <input id="firstName" #firstName [(ngModel)]="customer.firstname" placeholder="First name"/>
            </div>
            <div class="nameContainer">
                <label for="lastName">Last name</label>
                <input id="lastName" #lastName [(ngModel)]="customer.lastname" placeholder="Last name"/>
            </div>
        </div>
        <label for="email">E-mail</label><br/>
        <div id="emailContainer">
            <input id="email" #email [(ngModel)]="customer.email.localPart" placeholder="E-mail"/><span>@</span>
            <input id="emailDomain" #emailDomain [(ngModel)]="customer.email.domain" placeholder="Domain"/>
        </div>
        <label for="phone">Phone number (mobile)</label><br/>
        <div id="phoneContainer">
            <span>+</span>
            <input id="phone" #countryCode [(ngModel)]="customer.phoneNumber.countryCallingCode" placeholder="00"/>
            <input id="phoneNumber" #phoneNumber [(ngModel)]="customer.phoneNumber.number" placeholder="Phone number"/>
        </div>
        <div id="addressContainer">
            <div id="streetName">
                <label for="street">Street</label>
                <input id="street" #street [(ngModel)]="customer.address.streetName" placeholder="Street"/>
            </div>
            <div id="house-number">
                <label for="houseNumber">Number</label>
                <input id="houseNumber" #houseNumber [(ngModel)]="customer.address.houseNumber" placeholder="Number">
            </div>
            <div id="postal-code">
                <label for="postalcode">Postalcode</label>
                <input id="postalcode" #postalcode [(ngModel)]="customer.address.postalCode" placeholder="Postalcode">
            </div>
            <div id="countryName">
                <label for="country">Country</label>
                <input id="country" #country [(ngModel)]="customer.address.country" placeholder="Country">
            </div>
        </div>
        <div id="buttonContainer">
            <button id="buttonSave" (click)="updateCustomer(customer.id, firstName.value, lastName.value, email.value, emailDomain.value, countryCode.value, phoneNumber.value, street.value, houseNumber.value, postalcode.value, country.value)">Save customer</button>
            <button id="buttonCancel" (click)="goBack()">Cancel</button>
        </div>

        <div id="success">
            <p>Customer updated.</p>
        </div>
    </div>
</div>
