<div *ngIf="item" class="mainContainer">
    <div class="componentHeader">
        <h1>Item <span id="id">{{item.id}}</span></h1>
        <button (click)="goBack()">Back</button>
    </div>
    <div class="form">
        <label for="name">Name</label>
        <input id="name" #name [(ngModel)]="item.name" placeholder="Item name" readonly/>

        <label for="description">Description</label>
        <textarea id="description" #description [(ngModel)]="item.description" placeholder="Item description"
                  readonly></textarea>
        <div class="smallInput">
            <label for="price">Price</label>
            <input id="price" #price [(ngModel)]="item.price" placeholder="Price" readonly/>
        </div>
        <div class="smallInput">
            <label for="stock">Amount of Stock</label>
            <input id="stock" #stock [(ngModel)]="item.amountOfStock" placeholder="Amount" readonly/>
        </div>
        <div id="buttonContainer">
            <button class="buttonSave" id="updateButton"
                    (click)="allowUpdate(item.id, name.value, description.value, price.value, stock.value)">Update
            </button>
<!--            <button class="buttonSave"-->
<!--                    (click)="updateItem(item.id, name.value, description.value, price.value, stock.value)">Update-->
<!--            </button>-->
            <button id="buttonCancel" (click)="goBack()">Cancel</button>
        </div>

        <div id="success">
            <p>Item updated.</p>
        </div>
    </div>

</div>
