
#id{
    font-size: 0.7em;
}

.form{
    margin: auto;
    width: 60%;
    padding-bottom: 25px;
}
.form input, .form textarea{
    width: 100%;
    margin-bottom: 20px;
    height: 20px;
}
.form label {
    float: left;
}

#description{
    height: 200px;
}

.smallInput{
    width: 150px;
    float: left;
    margin-right: 25px;
}

#success{
    display: flex;
    visibility: hidden;
    width: 100%;
    text-align: left;
    width: 100%;
}

#buttonSave{
    width: 70%;
    background-color: #0063B3;
    height: 40px;
    border-radius: 12px;
    margin-bottom: 25px;
}

#buttonSave:hover, #buttonSave:active{
    background-color: #0583F2;
}

#buttonCancel:hover, #buttonCancel:active{
    background-color: lightgray;
}
#buttonCancel{
    width: 25%;
    float: right;
    background-color: darkgrey;
    height: 40px;
    border-radius: 12px;
}
#emailContainer{
    display: flex;
    justify-content: space-between;

}

#email{
    width: 50%;
}
#emailDomain{
    width: 45%;
}

#nameContainer{
    display: flex;
    justify-content: space-between;
}

.nameContainer{
    width: 50%;
}

#phoneContainer{
    display: flex;
}
#phone{
    width: 5%;
}
#phoneNumber{
    width: 95%;
}

#addressContainer{
    display: flex;
    flex-wrap: wrap;
}

#streetName{
    width: 80%;
}

#house-number{
    width: 20%;
}

#house-number input{
    width: 100%;
}

#postal-code{
    width: 30%;
}

#countryName{
    width: 70%;
}

