<div class="mainContainer">
    <div class="componentHeader">
        <h1>Create new item</h1>
        <button (click)="goBack()">back</button>
    </div>
    <form id="createItemForm">
        <div>
            <label for="name">Name</label><br/>
            <input #name id="name" placeholder="Item name"><br/>
        </div>
        <div>
            <label for="description">Description</label><br/>
            <textarea #description id="description" placeholder="Item description"></textarea>
        </div>
        <div class="smallInput">
            <label for="price">Price</label><br/>
            <input #price id="price" placeholder="Price">
        </div>
        <div class="smallInput">
            <label for="stock">Amount of Stock</label><br/>
            <input #stock id="stock" placeholder="Amount">
        </div>
        <div id="buttonContainer">
            <button id="buttonCreate" (click)="createNewItem(name.value, description.value, price.value, stock.value)">Create</button>
            <button id="buttonCancel" (click)="goBack()" >Cancel</button>
        </div>
        <div id="success">
            <p>Item created.</p>
        </div>
    </form>


</div>
